
<div id="planTable">
  <table class="tabela-planos">
    <colgroup> <col /> <col width="140" /> <col width="140" /></colgroup> 
    <tr class="tr-title">
      <td>
        <strong>Serviço</strong>
      </td>
      
      <td>
        <strong>Valor</strong>
      </td>
      
      <td>
        <strong>Cobrança</strong>
      </td>
    </tr>
    
    <tr>
      <td>
        <p>Básico</p> 
        <ul>
          <li>
            Até 1 gigabyte de espaço em disco.
          </li>
          <li>
            1 periódico.
          </li>
        </ul>
      </td>
      
      <td>
        <p>R$ 120,00</p>
      </td>
      
      <td>
        <p>Mensal</p>
      </td>
    </tr>
    
    <tr>
      <td>
        <p>Médio</p> 
        
        <ul>
          <li>
            Até 3 gigabytes de espaço em disco.
          </li>
          <li>
            1 periódico.
          </li>
        </ul>
      </td>
      
      <td>
        <p>R$ 180,00</p>
      </td>
      
      <td>
        <p>Mensal</p>
      </td>
    </tr>
    
    <tr>
      <td>
        <p>Grande</p> 
        
        <ul>
          <li>
            Até 6 gigabytes de espaço em disco.
          </li>
          <li>
            1 periódico.
          </li>
        </ul>
      </td>
      
      <td>
        <p>R$ 250,00</p>
      </td>
      
      <td>
        <p>Mensal</p>
      </td>
    </tr>
    
    <tr>
      <td>
        <p>Personalizado</p> 
        
        <ul>
          <li>
            Caso os planos acima não atendam suas necessidades <a title="Solicitar Orçamento" href="/solicitar-orcamento/">solicite um orçamento</a> descrevendo suas necessidades.
          </li>
        </ul>
      </td>
      
      <td>
        <p>A combinar</p>
      </td>
      
      <td>
        <p>&#8211;<p>
      </td>
    </tr>
  </table>

</div>
